body {
    font-size: 100%;
    font-family: monospace, sans-serif;
    width: 100%;
}


/* Beginning of Navbar CSS */
body {
    background-color: #2F3242;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
}

.welcome-page {
    display: none;
}

.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;

}

.message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
}

.buttons-con .action-link-wrap a {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
}

#Polygon-1, #Polygon-2, #Polygon-3, #Polygon-4, #Polygon-4, #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 450px) {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }

    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
}

.navbar {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 60px;
    width: 100%;
    background: #bbb;
    padding: 10px 20px;
    float: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    float: right;
    margin: 0px 10px;
}


/* End of Navbar CSS */


/* Welcome Page */

#welcome-page {
    background-image: url(http://www.bartsalle.nl/wp-content/uploads/2013/12/background-css-750x450.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 700px;
}

#welcome-text {
    text-align: center;
}

.block {
    background: rgba(128, 128, 128, 128);
    border: #FFF 20px double;
    border-radius: 10px;
    /* color: #FFG; */
    display: inline-block;
    font-size: 60px;
    font-weight: 800;
    padding: 0 10px 7px;
    margin: 250px;
    text-align: center;
}


/* End of Welcome Page */

#aboutme {
    background-size: cover;
    background: #d3d9d9;
    background-image: url(https://i.stack.imgur.com/jGlzr.png);
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}

#portfolio {
    background-size: cover;
    background-image: url(https://images6.alphacoders.com/389/389875.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}

#footer {
    text-align: center;
    background-size: cover;
    background-image: url(http://carmel.coop/wp-content/uploads/2014/04/Blurred-Background_4.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 250px;
    padding: 20px;
}

.fs {
    font-size: 3em;
}

.img {
    margin: 60px 20px;
    border-radius: 50%;
    height: 550px;
    display: inline-block;
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
}

.title {
    display: inline-block;
    background-color: grey;
    border: #AAA 5px double;
    border-radius: 10px;
    color: blue;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 2px 2px 5px #000;
    font-size: 30px;
}

.icon-btn {
    margin: 0 20px;
}


/* //------------------- name page ----------------- */




/* body {
    background: #ABCDEF;
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
} */

.login {
    color: white;
    background: #136a8a;
    background:
        -webkit-linear-gradient(to right, #267871, #136a8a);
    background:
        linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow:
        0px 2px 10px rgba(0, 0, 0, 0.2),
        0px 10px 20px rgba(0, 0, 0, 0.3),
        0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 50px;
}

.login .head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .head .company {
    font-size: 2.2em;
}

.login .msg {
    text-align: center;
}

.login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
}



.login .form .text::placeholder {
    color: #D3D3D3;
}

.login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login .form .password::placeholder {
    color: #D3D3D3;
}

.login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
}

.login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
}

.login .forgot {
    text-decoration: none;
    color: white;
    float: right;
}

footer {
    position: absolute;
    color: #136a8a;
    bottom: 10px;
    padding-left: 20px;
}

footer p {
    display: inline;
}

footer a {
    color: green;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .heart {
    color: #B22222;
    font-size: 1.5em
}

.page-btn {
    cursor: pointer;
}





/* ---------------- play page ------------------- */

.back-btn-containar {
    margin: 20px 20px;
}

.back-btn {
    background: #50c9bf;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    /* text-decoration: none; */
    margin-right: 10px;
    display: inline;

}

.back-btn:hover {
    background-color: #2F3242;
}

.play-page {
    display: none;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    font-size: 40px;
    color: #aa7ecd;
    max-width: 100%;
    text-align: center;
}

.symbol {
    color: #D8D8D8;
    margin: 0 0.5vw 0 0.5vw;
}

/*/////////////// SCORE AND TIMER ///////////////////*/

.score-panel {

    max-width: 560px;
    margin: auto auto 20px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #aa7ecd;


}

.score {
    margin: auto auto auto 0;
    width: 33%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#timer {
    font-size: 45px;
    width: 33%;
}

.restart {
    margin: auto 0 auto auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#restartText:hover {
    color: #02ccba;
    cursor: pointer;
    font-weight: bold;
}

.stars {
    list-style-type: none;
    display: inline;
    padding: 0;
}

.starList {
    display: inline;
}

/*/////////////START BUTTON////////////*/

#start {
    z-index: 1;
    width: 100%;
    max-height: 570px;
    height: 100vw;
    opacity: 0.5;
    position: absolute;
    font-size: 3em;
    margin: 20px auto auto auto;
    font-family: 'Coda', cursive;
    border: none;
    display: block;
}

#start:hover {
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

/*//////////DECK AND CARDS///////////*/

.deck {
    max-width: 520px;
    max-height: 550px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 auto 30px auto;
    width: 90%;
    height: 90vw;
    columns: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.card {
    height: 100%;
    width: 100%;
    background: #2e3d49;
    font-size: 33px;
    color: #2e3d49;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card.open {
    transform: rotateY(180deg);
    transition: 0.3s;
    font-size: 33px;
    background: #02b3e4;
    cursor: default;
    color: white;
}

.card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    color: white;
}

/*/////////END MODAL///////////*/

.endStars {
    font-size: 70px;
    list-style-type: none;
    padding: 0;
    order: -2;
    width: 95%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.endStars li {
    margin: auto 10px auto 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background: #E6DAF0;
    margin: 20vh auto 20vh auto;
    padding: 20px;
    width: 70%;
    max-width: 700px;
    text-align: center;
    align-items: left;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 9px solid white;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    order: -1;
    width: 5%;
}

#close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#finishedText {
    width: 95%;
    font-size: 2em;
}

#playAgain {
    order: 1;
    width: 40%;
    max-height: 250px;
    background-color: #aa7ecd;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: 10px auto auto auto;
    border-radius: 10px;
    min-height: 50px;
    min-width: 115px;
}

#playAgain:hover {
    color: #E0E0E0;
    cursor: pointer;
}

#playAgain:active {
    background-color: #8E56BD;
}


@media only screen and (max-width: 700px) {
    .symbol {
        display: none;
    }

    .deck {
        box-shadow: none;
    }

    .card {
        box-shadow: none;
    }

    .endStars {
        font-size: 50px;
    }

    #playAgain {
        font-size: 1.25em;
    }

    .deck {
        padding: 10px;
        box-shadow: none;
        width: 80%;
    }

    #start {
        height: 95vw;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    .score {
        width: 50%;
    }

    #playAgain {
        font-size: 1em;
    }

    /* .score-panel .restart {
        width: 50%;
    }  */

    #timer {
        font-size: 50px;
        width: 100%;
        order: -1;
    }

    .score-panel {
        margin-bottom: 15px;
    }

    .endStars {
        font-size: 50px;
        margin-top: 5px;
    }

    .endStars li {
        margin: auto 3px auto 3px;
    }

    .deck {
        padding: 10px;
        box-shadow: none;
        width: 80%;
    }

    h1 {
        margin: 5px auto 5px auto;
    }


}

/* ---------------- Score Page ----------------- */

.scores-page {
    display: none;
}

.containar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content-game {
    display: flex;
    flex-direction: row;
    gap: 35px;
    /* align-items: center;
    justify-content: center;
    gap: 35px; 
    color: white;
    width: 100%; */
}

.result-game {
    display: flex;
    flex-direction: row;
    background-color: white;
    opacity: 0.5;
    color: black;
    border-radius: 10px;
    gap: 35px;
    padding: 10px 10px;
    margin: 10px 10px;
}